@page "/hello2"
@namespace Client.Pages

<h1>Hello2, Blazor WebAssembly World!</h1>
<p>Client-side time: @DateTime.Now</p>

<!-- Navigation link to '/hello' -->
<p>
    <a href="/hello">Go to Hello page</a>
</p>
