@page "/calendar"
@using BlazorWebApp.Models
@inherits BlazorWebApp.Components.Shared.LocalizedComponentBase
@inject IJSRuntime JS
@inject Microsoft.Extensions.Localization.IStringLocalizer<Calendar> L
@inject BlazorWebApp.Services.ICalendarEventService CalendarEventService

<PageTitle>@L["Calendar"]</PageTitle>


<div id="calendar"></div>

@code {

    private List<CalendarEventDto> events = new();

    protected override async Task OnInitializedAsync()
    {
        events = await CalendarEventService.ListAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var culture = Localization.CurrentCulture.Name;
            await JS.InvokeVoidAsync("calendar.init", "calendar", events, culture);
        }
    }
}
