@page
@model AspNetCoreApp.Pages.IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to ASP.NET Core Application!</h1>
    <p>Current server time: @DateTime.Now</p>
</body>
</html>
