@namespace BlazorWebApp.Components
@inherits BlazorWebApp.Components.Shared.LocalizedComponentBase

<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Simple Counter</h5>
    <p class="card-text">
      Current count: <strong>@currentCount</strong>
    </p>
    <p class="card-text">
      @(Localization.CurrentCulture.Name == "en" ? "EN" : "JP")
    </p>    
    <button class="btn btn-primary" @onclick="IncrementCount">
      Click me
    </button>
  </div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
