@page "/Account/ForgotPasswordConfirmation"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ForgotPasswordConfirmation> L

<PageTitle>@L["Forgot password confirmation"]</PageTitle>

<h1>@L["Forgot password confirmation"]</h1>
<p role="alert">
    @L["Please check your email to reset your password."]
</p>
