@page "/Account/InvalidUser"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<InvalidUser> L

<PageTitle>@L["Invalid user"]</PageTitle>

<h3>@L["Invalid user"]</h3>

<StatusMessage />
