@page "/Account/InvalidPasswordReset"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<InvalidPasswordReset> L

<PageTitle>@L["Invalid password reset"]</PageTitle>

<h1>@L["Invalid password reset"]</h1>
<p role="alert">
    @L["The password reset link is invalid."]
</p>
