@page "/Account/Lockout"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Lockout> L

<PageTitle>@L["Locked out"]</PageTitle>

<header>
    <h1 class="text-danger">@L["Locked out"]</h1>
    <p class="text-danger" role="alert">@L["This account has been locked out, please try again later."]</p>
</header>
