@page "/Account/ResetPasswordConfirmation"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ResetPasswordConfirmation> L
<PageTitle>@L["Reset password confirmation"]</PageTitle>

<h1>@L["Reset password confirmation"]</h1>
<p role="alert">
    @L["Your password has been reset."] <a href="Account/Login">@L["click here to log in"]</a>.
</p>
