@page
@model AspNetCoreApp.Pages.MembersModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<h1>Members List</h1>

<ul>
    @foreach (var member in Model.Members)
    {
        <li>@member.FirstName @member.LastName (@member.Email)</li>
    }
</ul>
