@using BlazorWebApp.Models
@using Microsoft.AspNetCore.Components

<ul class="nav flex-column tree-menu">
    @foreach (var item in Items)
    {
        <li class="nav-item">
            <NavLink class="nav-link flex-grow-1"
                     href="@($"/{item.Slug}")"
                     Match="NavLinkMatch.Prefix">
                @if (!string.IsNullOrEmpty(item.IconCss))
                {
                    <i class="@item.IconCss me-1"></i>
                }
                @item.Title
            </NavLink>

            @* always render children, indented *@
            @if (item.Children?.Any() == true)
            {
                <ul class="nav flex-column ps-4">
                    <TreeMenu Items="item.Children" />
                </ul>
            }
        </li>
    }
</ul>

@code {
    [Parameter]
    public List<MenuItemDto> Items { get; set; } = new();
}
